p
{
    width:50%;
    min-width:400px;
    height:100px;
    border:1px solid black;
    overflow: auto;
    word-wrap:break-word;
}
h1,em/*selectionne tous h1 et em dans la page et applique la blue*/
{
    color:blue;
}
#partie1
{
    color: red;
}
.photo
{
    color:maroon;
}
/* *{ selecteur universel} */
h3+p /*selectionne le premier P dans h3 */
{
    background-color: #000;
    color:#fff;
}
a[title]/*tous les liens avec un attribut title*/
{
    color: yellow;
}
a[title*="message"] img/*tous les liens avec un attribut title*/
{
   font-size: 2em;
}
h1
{
    font-size:2.5em;
    text-align:center;
    font-family: 'trebuchet MS',Arial,serif;
    background:url('images/soumah.jpg') fixed no-repeat center center;
    opacity:0.5;
    /* background:rgba(255,255,255,0.5); */
    border:1px dotted black;
    border-radius:3px;
    box-shadow:3px 3px 1px black;

}
a
{
    text-decoration:none;
    font-weight:bold;
    text-transform:uppercase;
    text-shadow:3px 3px 6px black;
}
a:hover
{
    border-bottom:1px solid red;
    color: red;
   font-size: 1.2em;
}
a:active /*lorsque le lien est cliqué*/
{
    color: white;
    background-color: black;
}
a:focus /*lorsque le lien selelctionner*/
{
    background-color:maroon;
}
h2,h3
{
    font-style:italic;
    text-decoration:line-through;
}
.photos
{
    float:left;
}
.dessous
{
    clear:both;
}
mark
{
    background-color:red;
    color:#fff;
    text-transform: uppercase;
    border-radius:5px ;
}
/* flexbox-------------------------------------------------------------------------------------------------------- */
#conteneur
{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    height: 800px;
    border:1px solid black;
    /* align-items:center; */
    align-content: center;
    width:900px;
}
.element
{
    width: 200px;
    height: 200px;
    line-height:200px;
    text-align: center;
    border:1px solid black;
}
.element:nth-child(2)
{
    background-color: yellow;
   /* s */ 
    order:1;
}
.element:nth-child(3)
{
    background-color:green;
    order:2;
    flex:1;
}
.element:nth-child(1)
{
    background-color: red;
    order:3;
}