/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* bloc page */
body
{
    background: url('images/fond_jaune.png');
}
#bloc_page
{
    width: 900px;
    margin: auto;
    font-family: 'Trebuchet MS',serif;
}
/* header */
header 
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 5px;
    background: url('images/separateur.png') repeat-x bottom;
}

#logo
{
    flex:0.3;
    padding-bottom: 0px;
}
#logo h1
{
    font-family: 'BallparkWeiner',serif;
    font-size: 2.5em;
    margin-bottom: 0px;
    font-weight: normal;
    padding-bottom: 0px;
}
#logo h2
{
    margin-top: 0px;
    font-weight: normal;
    color: #181818;
    font-size: 1em;
}
nav 
{
    flex: 0.5;
}
nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
nav li
{
}
nav a 
{
    text-decoration: none;
    color: #181818;
    text-transform: uppercase;
    font-family: Dayrom,serif;
}
nav a:hover
{
    color: brown;
    border-bottom: 1px solid brown;
}
/* banniere */
#banniere
{
    background: url('images/sanfrancisco.jpg') no-repeat center;
    height: 200px;
    margin-top: 5px;
    border-radius: 5px;
    position: relative;
}
#banniere_description
{
    position:absolute;
    bottom: 0px;
    width:900px;
    background-color:rgba(192,192,192,0.5);
}
#descriptionContenu
{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
button
{
    
    background-color: red;
    color: #fff;
    border:none;
}
/* section */
section
{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

}
article
{
    flex:1;
    margin-right: 5px;
}
article h2
{
    display: flex;
    align-items: center;
    font-weight: normal;
    text-transform: uppercase;
    color: #181818;
}
.ico
{
    margin-right: 10px;
}
article p 
{
    text-align: justify;
    font-size: 1em;
}
aside 
{
    flex:0.4;
    text-align: center;
    background-color:#706B64;
    color: #fff;
    border-radius:5px;
    position: relative;
    margin-left: 5px;
}
.bull
{
    position: absolute;
    left: -9px;
    top: 120px;
}
aside h2
{
    font-family: Dayrom,serif;
    text-transform: uppercase;
    font-size: 1em
}
.photoZozor
{
    border:1px solid black;
}

/* footer */
footer
{
    background: url('images/separateur.png') repeat-x top,url('images/ico_top.png') no-repeat top center;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.elementFooter
{
    flex:1;
    margin-top: 20px;
}
.elementFooter h2
{
    text-align: center;
    margin: 0px;
    font-family: Dayrom,serif;
    text-transform: uppercase;
    font-weight:normal;
    font-size: 1em;
}
.elementFooter p 
{
    text-align: center;
}
.ul
{
    display: flex;
    justify-content: center;
    list-style-image: url('images/ico_liensexterne.png');
}
.ul a
{
    text-decoration: none;
    color: #760001;
}
/* les media queries */
@media all and (max-width:1024px)
{
    #bloc_page
    {
        width: auto;
    }
    header
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    nav ul
    {
        display: flex;
        flex-direction: column;

    }
    #banniere
    {
        display:none;
    }
    section
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bull 
    {
        display: none;
    }
    footer
    {
        display: flex;
       flex-direction: column;
    }
    .elementFooter
    {
        flex:1;
    }
}